#calendar {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: var(--mono);
}
#calendar td, #calendar th {
	padding: 0.5em;
}

/* Styling the calendar */
#calendar th {
	font-weight: bold;
	background: hsl(var(--s), 50%);
}

#calendar td {
	background-color: hsl(var(--p),10%);
}

#calendar .LastMonth,
#calendar .NextMonth {
	opacity: 50%;
}

#calendar td.Today{
	background: hsl(var(--s), 50%);
	border-radius:2em;
}